.me-message{


    width: 100%;
    height: 400px;
    background-color: greenyellow;
    border: 1px black solid;
    
    
}

.send-message{
    
    
    width: 100%;
    height: 400px;
    background-color: white;
    border: 1px black solid;
    
}